/* General styles */
body {
    font-family: 'Poppins', sans-serif;
    background-color: #1b1e23;
    margin: 0;
    padding: 0;
    color: #e0e6ed;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden; /* Prevent horizontal scroll */
}

/* Hyperlinks */
a {
    color: #e0e6ed; /* Aurora blue color */
    text-decoration: none;
    font-weight: 600;
}

a:hover {
    color: #7df9ff; /* Hover color for links (Aurora blue) */
}

/* General styles for unordered lists */
ul {
    list-style-type: disc; /* Keep the disc style for the bullets */
    margin-left: 20px; /* Add a bit of left margin for indentation */
    padding-left: 10px; /* Add some padding for spacing between the bullets and text */
    font-size: 1.15em; /* Increase the font size */
    line-height: 1.2em; /* Add more line height for spacing between list items */
}

/* Style the list items */
ul li {
    margin-bottom: 15px; /* Add space between the list items */
    color: #e0e6ed; /* Keep the same color as the body text */
}


/* Navigation */
nav {
    background-color: #252a32;
    padding: 0 20px;
    width: 100%;
    display: flex;
    justify-content: space-between; /* Space between logo and links */
    align-items: center; /* Vertically center logo and links */
    height: 60px; /* Fixed height */
    box-sizing: border-box;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Add a soft shadow */
}

/* Logo in the navigation bar */
nav .logo {
    display: flex;
    align-items: center; /* Vertically center the logo */
}

nav .logo img {
    height: 30px; /* Adjust the logo height */
    width: auto;
}

/* Navigation links */
.nav-links {
    display: flex;
    justify-content: flex-end; /* Right-align the links */
    align-items: center;
    padding-top: 14px;
}

.nav-links li {
    display: inline-block;
    margin-right: 20px;
}

.nav-links li a {
    color: #e0e6ed;
    text-decoration: none;
    font-weight: 600;
}

.nav-links li a:hover {
    color: #7df9ff;
}

/* Hamburger menu (hidden by default) */
.hamburger-menu {
    display: none;
    cursor: pointer;
}

/* Container for content box */
.container {
    max-width: 800px;
    width: 90%;
    margin: 50px auto;
    padding: 20px;
    background-color: #252a32;
    box-shadow: 0px 0px 15px rgba(125, 249, 255, 0.2);
    border-radius: 8px;
    text-align: left;
    box-sizing: border-box;
}

/* Specific font size changes for h1 and p */
.container h1 {
    font-size: 2.5em; /* Increase size of h1 */
}

.container p {
    font-size: 1.3em; /* Adjust the size of paragraphs */
}

/* Special unordered list style for the whitepaper page */
#whitepaper-container ul {
    font-size: 0.9em; /* Slightly smaller font for the whitepaper */
    line-height: 1.6em; /* Reduce the spacing between list items */
    margin-left: 20px;
    padding-left: 10px;
}

#whitepaper-container ul li {
    margin-bottom: 10px; /* Adjust spacing between list items */
}


/* Footer */
footer {
    background-color: #252a32;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #e0e6ed;
    margin-top: auto;
    width: 100%;
    box-sizing: border-box;
}

footer p {
    margin: 0 0 10px 0;
    font-size: 1.2em;
    color: #e0e6ed;
}

footer ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

footer ul li {
    display: inline-block;
    margin: 0 10px;
}

footer ul li a {
    color: #e0e6ed;
    text-decoration: none;
    font-weight: 600;
}

footer ul li a:hover {
    color: #7df9ff;
}

/* Hero Section */
.hero {
    background-color: #252a32;
    padding: 100px 20px;
    text-align: left;
    color: #e0e6ed; /* White text */
    background-image: url('../assets/hero-background.png'); /* Optional background image */
    background-size: cover;
    background-position: center;
    margin: 50px 0; /* Space below the hero section */
}

.hero-content h1 {
    font-size: 3em;
    color: #e0e6ed;
    margin: 0;
}

.hero-content p {
    font-size: 1.5em;
    color: #e0e6ed;
    margin-top: 10px;
}

/* Utility Cards */
.utility-cards {
    display: flex;
    justify-content: space-around;
    padding: 50px 20px;
    background-color: #1b1e23;
    margin-bottom: 50px; /* Space below the cards section */
}

.card {
    background-color: #252a32;
    padding: 20px;
    width: 30%;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0px 0px 15px rgba(0, 255, 150, 0.2);
    margin: 0 20px; /* Space between each card */
}

.card h3 {
    color: #e0e6ed;
    font-size: 1.8em;
}

.card p {
    font-size: 1.2em;
    color: #e0e6ed;
}

/* Document class for About Page */
.document {
    max-width: 800px;
    width: 90%;
    margin: 50px auto;
    padding: 30px;
    background-color: #252a32;
    text-align: left;
    box-sizing: border-box;
}

/* About page specific styles */
.document h1, .document h2 {
    color: #7df9ff;
}

.document p {
    color: #e0e6ed;
    font-size: 1.2em;
}

/* Custom scrollbar for Chrome, Safari, and Edge */
::-webkit-scrollbar {
    width: 8px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
    background: #1b1e23; /* Background color of the scrollbar track */
}

::-webkit-scrollbar-thumb {
    background-color: #e0e6ed; /* Color of the scrollbar thumb */
    border-radius: 10px; /* Make it rounded */
    border: 2px solid #1b1e23; /* Add padding around the thumb */
}

::-webkit-scrollbar-thumb:hover {
    background-color: #7df9ff; /* Color when hovered */
}


/* Responsive adjustments */
@media (max-width: 768px) {
    nav {
        height: 60px;
        padding: 10px 20px;
    }

    .nav-links {
        display: none; /* Hide links by default */
        flex-direction: column;
        align-items: flex-end; /* Align links to the right */
        position: absolute;
        top: 44px;
        right: 0; /* Ensure the links stay on the right side */
        background-color: #252a32;
        padding-right: 20px; /* Add some padding on the right */
        z-index: 999;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Add a soft shadow */
    }

    .nav-links.active {
        display: flex; /* Show links when active */
    }

    .nav-links li {
        margin: 10px 0;
        background-color: #252a32;
        width: auto; /* Make the background fit the text */
        padding: 5px 20px; /* Padding for clickable area */
        display: inline-block; /* Make the background fit content */
    }

    .nav-links li a {
        color: #e0e6ed;
        text-decoration: none;
        font-weight: 600;
    }

    .nav-links li a:hover {
        color: #7df9ff;
    }
    
    .hamburger-menu {
        display: block;
        position: absolute;
        top: 15px;
        right: 20px;
    }
    .container {
        margin: 20px auto;
        padding: 15px;
    }

    footer ul {
        flex-wrap: nowrap;
        justify-content: center;
    }

    footer ul li {
        margin: 0 10px;
    }

    .utility-cards {
        flex-direction: column;
        align-items: center;
    }

    .card {
        width: 80%;
        margin-bottom: 20px;
    }

    .document {
        width: 95%;
        padding: 20px;
    }
}
